<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrspeak.springbootinit.dao.DepartmentMapper">
    <resultMap id="BaseDep" type="com.mrspeak.springbootinit.bean.Department">
        <id property="id" column="id" />
        <result property="departmentName" column="department_name" />
    </resultMap>
    <select id="getDepartment" resultMap="BaseDep"  resultType="com.mrspeak.springbootinit.bean.Department">
        SELECT *
        FROM DEPARTMENT
        WHERE id = #{id}
    </select>
</mapper>